<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}">
    <body>
        <div layout:fragment="content"class="container">
            <div class="d-flex justify-content-between my-2">
                <h2>Login</h2>
            </div>        
            <div class="card">
                <div class="card-body">
                    <form method="post" th:action="@{/loginUser}"th:object="${loginRequest}">
                        <input type="text" id="redirectURLInput" class="form-control" name="redirectURL" value="getURL()" hidden>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" th:field="*{email}" id="email" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" th:field="*{password}" id="password">
                        </div>
                        <div class="invalid-feedback" style="display: block;" >
                            <span th:if="${error}" th:text="${error}"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </form>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">Don't have an account?</p>
                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger" onclick="redirectToRegister()">Register</button>
                    </div>
                </div>
            </div>
            <script>
                const redirectURLInput = document.getElementById("redirectURLInput");
                redirectURLInput.value = getURL();
                
                function redirectToRegister() {
                    location.href = "/register";
                }

                function getURL() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const url = urlParams.get('url');
                    return url;
                }
            </script>
        </div>
    </body>

</html>
