<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <div th:replace="~{fragments/head :: commonHead(${title})}"></div>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <div>Manage Category</div>
        <form method="post" th:action="@{/admin/category}" th:object="${addCategoryRequest}">
            <input type="text" th:field="*{name}" placeholder="name"/>
            <textarea type="text" th:field="*{description}"></textarea>
            <button type="submit" >Add Category</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${categories.empty}">
                    <td colspan="2"> No Category Available </td>
                </tr>
                <tr th:each="category : ${categories}">
                    <td><span th:text="${category.id}"></span></td>
                    <td><span th:text="${category.name}"></span></td>
                    <td><span th:text="${category.description}"></span></td>
                </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>
