<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}">
    <body>
        <div layout:fragment="content">
            <div class="d-flex justify-content-between my-2">
                <h2>Manage Orders</h2>
            </div>  
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope='col'>User</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${orderList.empty}">
                        <td colspan="2"> No Order Available </td>
                    </tr>
                <th:block th:each="order : ${orderList}">
                    <tr>
                        <td scope="row"><span th:text="${order.id}"></span></td>
                        <td scope="row"><span th:text="${order.user.email}"></span></td>
                        <td scope="row"><span th:text="${order.orderDate}"></span></td>
                        <td scope="row"><span th:text="${order.orderStatus}"></span></td>
                        <td scope="row">---</td>
                        <td scope="row">---</td>
                        <td scope="row">---</td>
                        <td scope="row"><span th:text="'$' + ${order.totalPrice}"></span></td>
                        <td scope="row">
                            <div class="d-flex justify-content-between">
                                <th:block th:if="${order.orderStatus.toString() == 'PENDING'}" >
                                    <button type="button" class="btn btn-primary mx-2" th:onclick="changeToDeliveredStatus([[${order.id}]])">Change to Delivered</button>

                                </th:block>
                                <button class="btn btn-danger mx-2" th:onclick="deleteOrder([[${order.id}]])">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr th:each="orderItem : ${order.orderItems}">
                        <td scope="row"><i >---</i></td>
                        <td scope="row"><i >---</i></td>
                        <td scope="row"><i >---</i></td>
                        <td scope="row"><i >---</i></td>
                        <td scope="row"><i th:text="${orderItem.product.name}"></i></td>
                        <td scope="row"><i th:text="${orderItem.quantity}"></i></td>
                        <td scope="row"><i th:text="'$' + ${orderItem.price}"></i></td>
                        <td scope="row"><i >---</i></td>
                    </tr>
                </th:block>                    
                </tbody>
            </table>
            <script>
                function changeToDeliveredStatus(id) {
                    const confirmDelivered = confirm('Do you want to deliver order with id:' + id);
                    if (confirmDelivered) {

                        fetch('/admin/order/status', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({id, status: 'DELIVERED'})
                        }).then(() =>
                        {
                            alert("Successfully delivered");
                            location.reload();
                        });
                    }
                }

                function deleteOrder(id) {
                    const confirmDelete = confirm('Do you want to delete order with id:' + id);
                    if (confirmDelete) {

                        fetch('/admin/order', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({id})
                        }).then(() =>
                        {
                            alert("Successfully deleted");
                            location.reload();
                        });
                    }
                }
            </script>
        </div>
    </body>

</html>
