<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <div th:replace="~{fragments/head :: commonHead(${title})}"></div>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <div>Manage Product</div>
        <form method="post" th:action="@{/admin/product}" th:object="${addProductRequest}">
            <select th:field="*{categoryId}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <input type="text" th:field="*{name}" placeholder="name"/>
            <textarea type="text" th:field="*{description}"></textarea>
            <input type="number" th:field="*{stockInHand}" placeholder="Stock In Hand"/>
            <button type="submit" >Add Product</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Stock In Hand</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${products.empty}">
                    <td colspan="2"> No Product Available </td>
                </tr>
                <tr th:each="product : ${products}">
                    <td><span th:text="${product.id}"></span></td>
                    <td><span th:text="${product.category.name}"></span></td>
                    <td><span th:text="${product.name}"></span></td>
                    <td><span th:text="${product.description}"></span></td>
                    <td><span th:text="${product.stockInHand}"></span></td>
                </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>
