<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}">
    <body>
        <div layout:fragment="content"class="container">
            <div class="d-flex justify-content-between my-2">
                <h2>Orders</h2>
            </div>  
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${orderList.empty}">
                        <td colspan="2"> No Order Available </td>
                    </tr>
                <th:block th:each="order : ${orderList}">
                    <tr>
                        <td scope="row"><span th:text="${order.id}"></span></td>
                        <td scope="row"><span th:text="${order.orderDate}"></span></td>
                        <td scope="row"><span th:text="${order.orderStatus}"></span></td>
                        <td scope="row">---</td>
                        <td scope="row">---</td>
                        <td scope="row">---</td>
                        <td scope="row"><span th:text="'$' + ${order.totalPrice}"></span></td>
                    </tr>
                    <tr th:each="orderItem : ${order.orderItems}">
                        <td scope="row"><i >---</i></td>
                        <td scope="row"><i >---</i></td>
                        <td scope="row"><i >---</i></td>
                        <td scope="row"><i th:text="${orderItem.product.name}"></i></td>
                        <td scope="row"><i th:text="${orderItem.quantity}"></i></td>
                        <td scope="row"><i th:text="'$' + ${orderItem.price}"></i></td>
                        <td scope="row"><i >---</i></td>
                    </tr>
                </th:block>                    
                </tbody>
            </table>
        </div>
    </body>

</html>